body {
  background-color: rgb(255, 255, 255);
}
.container {
  max-width: 1200px;
}

.contact-form,
.contact-info {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(1, 0, 0, 0.2);
  padding: 20px;
  margin: 0px;
}

h2 {
  margin-bottom: 20px;
  color: rgb(44, 62, 80); /* Azul Marino Profesional */
}

.map-container {
  margin-top: 20px;
  height: 65%;
  text-align: center;
}
#mapa {
  height: 100%;
}

@media (max-width: 768px) {
  .contact-form,
  .contact-info {
    margin: 10px 0;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .contact-form,
  .contact-info {
    float: left;
    width: 45%; /* Dos columnas en escritorio */
  }
}

/*
1.	Rojo Energético (Para botones y elementos destacados):
o	RGB: rgb(220, 53, 69)
2.	Naranja Vital (Para acentos o llamados a la acción secundarios):
o	RGB: rgb(255, 159, 67)
3.	Gris Claro (Para fondos o áreas neutras):
o	RGB: rgb(238, 238, 238)
4.	Verde Saludable (Para elementos relacionados con bienestar y salud):
o	RGB: rgb(40, 167, 69)
5.	Azul Marino Profesional (Para encabezados o secciones importantes):
o	RGB: rgb(44, 62, 80)
6.	Blanco Puro (Para el fondo principal y textos claros):
o	RGB: rgb(255, 255, 255)
*/
