@charset "UTF-8";
:root,
[data-bs-theme="light"] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #2d3f51;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 45, 63, 81;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #121920;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #d5d9dc;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #abb2b9;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #2d3f51;
  --bs-link-color-rgb: 45, 63, 81;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #243241;
  --bs-link-hover-color-rgb: 36, 50, 65;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(45, 63, 81, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545; }

[data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #818c97;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #090d10;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #1b2631;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #818c97;
  --bs-link-hover-color: #9aa3ac;
  --bs-link-color-rgb: 129, 140, 151;
  --bs-link-hover-color-rgb: 154, 163, 172;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f; }

/* COLORES */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

* {
  font-family: "Josefin Sans"; }

body {
  height: 100%;
  background-color: #eeeeee;
  color: #2c3e50; }

main {
  margin: 0px auto 80px; }

.navbar-brand img {
  height: 5rem;
  width: auto; }

.navbar {
  background-color: darkcyan;
  font-size: 1.5rem;
  font-weight: 600; }

.custom-navbar-text .nav-link {
  color: #2c3e50 !important; }

.custom-navbar-text .navbar-toggler {
  border-color: #2c3e50; }

.custom-navbar-text .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%232C3E50' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

.custom-navbar-text .navbar-toggler:focus {
  outline: none;
  box-shadow: none; }

footer {
  background-color: darkcyan;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  padding: 10px 0; }

.redesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }

.redesSociales a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  font-size: 20px;
  color: darkcyan;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px; }

.redesSociales a:hover {
  transition: 0.3s;
  transform: scale(1.2); }

.copyright {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #eeeeee; }

.copyright :hover {
  transform: scaleX(1.2); }

.copyright h6 {
  margin: 0; }

.copyright h6:hover {
  transform: scale(1.1);
  transition: 0.3s; }

@media only screen and (max-width: 480px) {
  .redesSociales a {
    font-size: 16px;
    width: 35px;
    height: 35px;
    margin: 0 5px; }
  .copyright h6 {
    font-size: 0.8rem;
    display: flex;
    text-align: center; } }

@media only screen and (min-width: 768px) {
  .redesSociales a {
    font-size: 24px;
    width: 50px;
    height: 50px; }
  .copyright h6 {
    font-size: 16px; } }

.mainIndex {
  width: 100%; }

.imagenContenedor {
  position: relative;
  width: 100%;
  height: 55vh;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center; }

.imagenInicio {
  width: 90%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  box-shadow: 5px 5px 10px darkcyan; }

.textoEstasListo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #eeeeee;
  background-color: rgba(0, 0, 0, 0.726);
  padding: 20px;
  border-radius: 10px; }

.textoEstasListo h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #eeeeee; }

.textoEstasListo p {
  font-size: 25px;
  margin-bottom: 20px;
  color: #eeeeee; }

.bottonMiraNuestrasTarifas,
.bottonContactanos {
  background-color: darkcyan;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #eeeeee;
  margin: 10px;
  border-radius: 5px; }

.bottonMiraNuestrasTarifas:hover,
.bottonContactanos:hover {
  transform: scale(1.1); }

.clases__personalizadas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px; }

.clases__personalizadas__imagen {
  width: 65%;
  max-width: 80%;
  height: auto;
  object-fit: cover;
  box-shadow: 5px 5px 10px darkcyan; }

.clases__personalizadas__texto {
  width: 35%;
  padding-left: 20px;
  text-align: left; }

.clases__personalizadas__texto__titulo {
  font-size: 2rem bold;
  margin-bottom: 20px; }

.clases__personalizadas__texto__btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkcyan;
  color: #eeeeee;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  justify-items: center; }

.clases__personalizadas__texto__btn:hover {
  transform: scale(1.1); }

@media (max-width: 480px) {
  .imagenInicio {
    display: flex; }
  .imagenContenedor {
    height: 80vh;
    margin: 30px auto; }
  .textoEstasListo h2 {
    font-size: 1.4rem; }
  .textoEstasListo p {
    font-size: 0.8rem; }
  .bottonMiraNuestrasTarifas,
  .bottonContactanos {
    padding: 8px 12px;
    font-size: 12px;
    margin: 5px; }
  .clases__personalizadas {
    flex-direction: column;
    padding: 0 !important; }
  .clases__personalizadas__texto__titulo {
    font-size: 1.5rem; }
  .clases__personalizadas__texto__btn {
    font-size: 1.2rem; } }

@media (max-width: 768px) {
  .imagenContenedor {
    height: 80vh;
    margin: 30px auto; }
  .textoEstasListo h2 {
    font-size: 2rem; }
  .textoEstasListo p {
    font-size: 1.2rem; }
  .bottonMiraNuestrasTarifas,
  .bottonContactanos {
    padding: 10px 20px;
    font-size: 18px; }
  .clases__personalizadas {
    flex-direction: column; }
  .clases__personalizadas__imagen {
    width: 90%;
    max-width: 100%; }
  .clases__personalizadas__texto {
    display: flex;
    width: 90%;
    padding-left: 0;
    margin: 15px;
    justify-content: space-between; }
  .clases__personalizadas__texto__titulo {
    font-size: 1.5rem;
    margin: 20px;
    justify-content: end; }
  .clases__personalizadas__texto__btn {
    font-size: 1.2rem;
    margin: 10px; } }

.main {
  padding: 10px;
  background-color: #eeeeee;
  border-radius: 10px; }

.tarifas__titulo h1 {
  text-align: center;
  font-size: 60px;
  margin: 25px;
  padding: 25px;
  font-weight: 800; }

.tarifas__planes__fitness,
.tarifas__planes__performance,
.tarifas__planes__pro {
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 5px 5px 10px darkcyan;
  display: flex;
  flex-direction: column; }

.tarifas__planes__fitness__segunHorario {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style: none; }

.tarifas__planes__fitness__segunHorario__mañana,
.tarifas__planes__fitness__segunHorario__tarde {
  width: 49%;
  padding: 5px;
  box-sizing: border-box; }

.tarifas__planes__fitness__segunHorario__mañana p,
.tarifas__planes__fitness__segunHorario__tarde p {
  margin: 5px;
  text-align: center; }

.tarifas__planes__fitness__segunHorario__mañana strong,
.tarifas__planes__fitness__segunHorario__tarde strong {
  margin: 25px; }

.tarifas__planes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  margin-bottom: 20px; }

.tarifas__planes li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }

.tarifas__planes__fitness__titulo,
.tarifas__planes__performance__titulo,
.tarifas__planes__pro__titulo {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: 900; }

.tarifas__planes__fitness__incluye,
.tarifas__planes__performance__incluye,
.tarifas__planes__pro__incluye {
  font-size: 1.6rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; }

.tarifas__planes__fitness__incluye__lista,
.tarifas__planes__performance__incluye__lista,
.tarifas__planes__pro__incluye__lista,
.tarifas__planes__fitness__segunHorario__tarde,
.tarifas__planes__fitness__segunHorario__mañana {
  font-size: 1.4rem;
  padding: 0; }

.tarifas__planes__fitness__precios,
.tarifas__planes__performance__precios,
.tarifas__planes__pro__precios {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 50px;
  color: #2c3e50;
  margin-top: auto; }

.precio70,
.precio85,
.precio100,
.precio140 {
  background-color: darkcyan;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  flex: 1; }

.precio70,
.precio85 {
  margin-top: 20px; }

.tarifas__matricula {
  background-color: white;
  box-shadow: 5px 5px 10px darkcyan;
  text-align: center; }

.tarifas__matricula__titulo {
  font-size: 45px;
  margin: 30px;
  padding: 30px;
  font-weight: 900; }

.tarifas__matricula__precio {
  font-size: 70px;
  margin: 25px;
  color: darkcyan;
  font-weight: 600; }

.tarifas__matricula__pagoUnico {
  text-align: end;
  font-size: 20px; }

.servicios__adicionales {
  background-color: white;
  box-shadow: 5px 5px 10px darkcyan;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px; }

.servicios-adicionales__titulo {
  font-size: 40px;
  margin-bottom: 15px;
  text-align: center; }

.servicios-adicionales__lista {
  list-style: none;
  padding: 0; }

.servicio {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; }

.servicio:last-child {
  border-bottom: none; }

.servicio__nombre {
  font-size: 25px;
  flex: 1;
  font-weight: bold; }

.servicio__precio {
  font-size: 25px;
  color: #2c3e50;
  text-align: right;
  list-style: none; }

@media (max-width: 480px) {
  .main {
    width: 100%;
    padding: 10px; }
  .tarifas__planes {
    display: block; }
  .tarifas__titulo h1 {
    font-size: 40px;
    margin: 15px;
    padding: 15px; }
  .tarifas-contenedor {
    width: 100%; }
  .tarifas__planes__fitness__segunHorario__mañana p,
  .tarifas__planes__fitness__segunHorario__tarde p {
    padding: 0;
    white-space: nowrap; }
  .tarifas__planes__fitness,
  .tarifas__planes__performance,
  .tarifas__planes__pro {
    margin-bottom: 15px; } }

@media (max-width: 768px) {
  .main {
    width: 100%;
    padding: 15px; }
  .tarifas__titulo h1 {
    font-size: 45px;
    margin: 20px;
    padding: 20px; }
  .tarifas__planes {
    grid-template-columns: 1fr;
    gap: 15px; }
  .tarifas__planes__fitness__titulo,
  .tarifas__planes__performance__titulo,
  .tarifas__planes__pro__titulo {
    font-size: 30px; }
  .tarifas__planes__fitness__incluye,
  .tarifas__planes__performance__incluye,
  .tarifas__planes__pro__incluye {
    font-size: 1.4rem; }
  .tarifas__planes__fitness__incluye__lista,
  .tarifas__planes__performance__incluye__lista,
  .tarifas__planes__pro__incluye__lista,
  .tarifas__planes__fitness__segunHorario__tarde,
  .tarifas__planes__fitness__segunHorario__mañana {
    font-size: 1.2rem; }
  .tarifas__planes__fitness__precios,
  .tarifas__planes__performance__precios,
  .tarifas__planes__pro__precios {
    font-size: 40px; }
  .tarifas__matricula__titulo {
    font-size: 35px;
    margin: 20px;
    padding: 20px; }
  .tarifas__matricula__precio {
    font-size: 50px;
    margin: 20px; }
  .tarifas__matricula__pagoUnico {
    font-size: 18px; }
  .servicios__adicionales {
    padding: 15px; }
  .servicios-adicionales__titulo {
    font-size: 20px;
    margin-bottom: 10px; }
  .servicio {
    padding: 8px 0; }
  .servicio__nombre,
  .servicio__precio {
    font-size: 20px; } }

body {
  background-color: #eeeeee; }

.nuestras__instalaciones {
  display: flex;
  justify-content: center;
  font-size: 65px;
  color: #2c3e50;
  margin: 30px 0; }

.nuestras__instalaciones__h3 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #2c3e50;
  margin: 30px 0; }

.video__instalaciones {
  display: flex;
  justify-content: center;
  margin: 20px 0; }

.video__instalaciones iframe {
  width: 75%;
  min-height: 450px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px darkcyan; }

.galeria__titulo {
  text-align: center;
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 90px;
  color: #2c3e50; }

.galeria__fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px; }

.fotos__instalaciones {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s;
  box-shadow: 0px 4px 8px darkcyan; }

.fotos__instalaciones:hover {
  transform: scale(1.2); }

.instalaciones {
  background-color: #eeeeee;
  padding: 40px 20px; }

.instalacionesExplicacion {
  max-width: 85%;
  margin: 0 auto;
  padding: 20px; }

.instalacionesTitulo {
  text-align: center;
  font-size: 65px;
  margin-bottom: 20px; }

.instalacionesTexto {
  text-align: center;
  font-size: 35px;
  margin-bottom: 80px; }

.listaIntsalaciones {
  list-style: none;
  padding: 0;
  margin: 0; }

.listaIntsalaciones strong {
  font-size: 40px;
  display: inline-block;
  margin: 15px; }

.listaIntsalaciones li {
  background-color: #eeeeee;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 25px;
  box-shadow: 0 2px 5px darkcyan; }

@media (max-width: 480px) {
  .nuestras__instalaciones,
  .nuestras__instalaciones__h3,
  .galeria__titulo,
  .instalacionesTitulo,
  .instalacionesTexto {
    font-size: 1.8rem;
    text-align: center; }
  .nuestras__instalaciones {
    font-weight: bold; }
  .galeria__fotos {
    grid-template-columns: 1fr;
    gap: 8px; }
  .fotos__instalaciones {
    height: 250px; }
  .instalacionesExplicacion {
    max-width: 100%; }
  .listaIntsalaciones strong {
    font-size: 25px; }
  .listaIntsalaciones li {
    font-size: 18px; }
  img {
    transition: none; }
  img:hover {
    animation: scale-revert 1.5s forwards; }
  @keyframes scale-revert {
    0% {
      transform: scale(1.2); }
    99% {
      transform: scale(1.2); }
    100% {
      transform: scale(1); } } }

@media (max-width: 768px) {
  .nuestras__instalaciones,
  .nuestras__instalaciones__h3,
  .galeria__titulo,
  .instalacionesTitulo,
  .instalacionesTexto {
    font-size: 1.5rem;
    text-align: center; }
  .galeria__fotos {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; }
  .fotos__instalaciones {
    height: 350px; }
  .video__instalaciones iframe {
    width: 90%;
    min-height: 350px; }
  .instalacionesExplicacion {
    max-width: 100%; }
  .listaIntsalaciones strong {
    font-size: 30px; }
  .listaIntsalaciones li {
    font-size: 20px; } }

body {
  background-color: #eeeeee;
  height: auto; }

.contact-form,
.contact-info {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px darkcyan;
  padding: 0px;
  margin: 0px; }

h2 {
  margin-bottom: 20px;
  color: #2c3e50; }

#contDejanosTusDatos,
#contVisitanos {
  padding: 15px; }

#contDejanosTusDatos {
  margin-right: 30px; }

.map-container {
  width: 100%;
  height: 80%;
  text-align: center; }

#mapa {
  height: 100%; }

.btn {
  background-color: darkcyan;
  font-size: 20px; }

.btn:hover {
  background-color: darkcyan; }

@media (max-width: 768px) {
  #mapa {
    height: 250px; }
  .container {
    max-width: 90%; }
  #contDejanosTusDatos,
  #contVisitanos {
    margin-bottom: 15px;
    padding: 10px;
    margin-right: 0; }
  #contVisitanos {
    margin-bottom: 65px; } }

.clasesDirigidas {
  padding: 20px; }

.clase {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }

.texto {
  flex: 1;
  margin-right: 20px;
  text-align: left; }

.imagen {
  flex: 1;
  text-align: center; }

.imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 10px darkcyan; }

.invertida {
  flex-direction: row-reverse; }

.tituloClasesDirigidas {
  font-size: 50px;
  margin: 50px;
  text-align: center;
  font-weight: bold; }

p {
  margin-left: 20px;
  font-size: 25px; }

.tituloClaseDirigidasH2 {
  margin-left: 20px;
  font-weight: bold;
  font-weight: bold;
  font-size: 40px; }

@media (max-width: 480px) {
  .tituloClasesDirigidas {
    font-size: 30px;
    margin: 30px; }
  .clase {
    flex-direction: column;
    margin-bottom: 20px; }
  .texto {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center; }
  .imagen {
    margin-bottom: 20px; }
  p {
    font-size: 18px;
    margin-left: 0; }
  .tituloClaseDirigidasH2 {
    font-size: 30px;
    margin-left: 0; } }

@media (max-width: 768px) {
  .tituloClasesDirigidas {
    font-size: 40px;
    margin: 40px; }
  .clase {
    flex-direction: column;
    margin-bottom: 25px; }
  .texto {
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center; }
  .imagen {
    margin-bottom: 20px; }
  p {
    font-size: 20px;
    margin-left: 0; }
  .tituloClaseDirigidasH2 {
    font-size: 35px;
    margin-left: 0; } }
