@charset "UTF-8";
/*Abstracts*/
/* COLORES */
/*Base*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", system-ui; }

body {
  height: 100%;
  background-color: #eeeeee;
  color: #2c3e50; }

main {
  margin: 0px auto 80px; }

/* Layout */
header {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  background-image: linear-gradient(to bottom, darkcyan 65%, #eeeeee);
  align-items: center;
  padding: 15px;
  top: 0px;
  left: 0px;
  width: 100%;
  font-weight: bold; }

.lista .listaA {
  display: flex column;
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0 15px; }

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px; }

nav a {
  font-size: 20px;
  padding-right: 15px;
  color: #eeeeee;
  text-decoration: none;
  cursor: pointer; }

nav a:hover {
  color: #2c3e50;
  transform: scale(1.2); }

.logo-nombre {
  color: #eeeeee;
  font-size: 70px;
  margin-left: 20px;
  font-weight: bold; }

.logo-nombre:hover {
  color: #2c3e50;
  cursor: pointer;
  transform: scaleX(1.1); }

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px; }
  .lista .listaA {
    flex-direction: column;
    margin: 5px 0; }
  .logo {
    margin-left: 0;
    margin-bottom: 10px; }
  nav a {
    font-size: 18px;
    padding-right: 10px; }
  .logo-nombre {
    font-size: 50px;
    margin-left: 0; } }

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 15px;
    min-height: 70px; }
  .lista .listaA {
    margin: 0 10px; }
  nav a {
    font-size: 18px;
    padding-right: 12px; }
  .logo-nombre {
    font-size: 60px; } }

footer {
  background-image: linear-gradient(to top, darkcyan 65%, #eeeeee);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  padding: 10px 0; }

.redesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; }

.redesSociales a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  font-size: 20px;
  color: darkcyan;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px; }

.redesSociales a:hover {
  transition: 0.3s;
  transform: scale(1.2); }

.copyright {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #eeeeee; }

.copyright :hover {
  transform: scaleX(1.2); }

.copyright h6 {
  margin: 0; }

.copyright h6:hover {
  transform: scale(1.1);
  transition: 0.3s; }

@media only screen and (max-width: 480px) {
  .redesSociales a {
    font-size: 16px;
    width: 35px;
    height: 35px;
    margin: 0 5px; }
  .copyright {
    font-size: 12px; } }

@media only screen and (min-width: 768px) {
  .redesSociales a {
    font-size: 24px;
    width: 50px;
    height: 50px; }
  .copyright {
    font-size: 16px; } }

/* Componentes */
.mainIndex {
  width: 100%; }

.imagenContenedor {
  position: relative;
  width: 100%;
  height: 55vh;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center; }

.imagenInicio {
  width: 90%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  box-shadow: 5px 5px 10px darkcyan; }

.textoEstasListo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #eeeeee;
  background-color: rgba(0, 0, 0, 0.726);
  padding: 20px;
  border-radius: 10px; }

.textoEstasListo h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #eeeeee; }

.textoEstasListo p {
  font-size: 25px;
  margin-bottom: 20px;
  color: #eeeeee; }

.bottonMiraNuestrasTarifas,
.bottonContactanos {
  background-color: darkcyan;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  color: #eeeeee;
  margin: 10px;
  border-radius: 5px; }

.bottonMiraNuestrasTarifas:hover,
.bottonContactanos:hover {
  transform: scale(1.1); }

.clases__personalizadas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px; }

.clases__personalizadas__imagen {
  width: 65%;
  max-width: 80%;
  height: auto;
  object-fit: cover;
  box-shadow: 5px 5px 10px darkcyan; }

.clases__personalizadas__texto {
  width: 35%;
  padding-left: 20px;
  text-align: left; }

.clases__personalizadas__texto__titulo {
  font-size: 2rem bold;
  margin-bottom: 20px; }

.clases__personalizadas__texto__btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: darkcyan;
  color: #eeeeee;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  border: none; }

.clases__personalizadas__texto__btn:hover {
  transform: scale(1.1); }

@media (max-width: 480px) {
  .imagenContenedor {
    height: 35vh;
    margin: 20px auto; }
  .textoEstasListo h2 {
    font-size: 30px; }
  .textoEstasListo p {
    font-size: 18px; }
  .bottonMiraNuestrasTarifas,
  .bottonContactanos {
    padding: 8px 15px;
    font-size: 16px; }
  .clases__personalizadas {
    flex-direction: column;
    padding: 20px; }
  .clases__personalizadas__imagen {
    width: 90%;
    max-width: 100%; }
  .clases__personalizadas__texto {
    width: 100%;
    padding-left: 0;
    margin-top: 20px; }
  .clases__personalizadas__texto__titulo {
    font-size: 1.5rem; }
  .clases__personalizadas__texto__btn {
    font-size: 1.2rem; } }

@media (max-width: 768px) {
  .imagenContenedor {
    height: 45vh;
    margin: 30px auto; }
  .textoEstasListo h2 {
    font-size: 40px; }
  .textoEstasListo p {
    font-size: 20px; }
  .bottonMiraNuestrasTarifas,
  .bottonContactanos {
    padding: 10px 18px;
    font-size: 18px; }
  .clases__personalizadas {
    flex-direction: column;
    padding: 40px; }
  .clases__personalizadas__imagen {
    width: 80%; }
  .clases__personalizadas__texto {
    width: 100%;
    padding-left: 0;
    margin-top: 20px; }
  .clases__personalizadas__texto__titulo {
    font-size: 1.8rem; }
  .clases__personalizadas__texto__btn {
    font-size: 1.4rem; } }

.main {
  width: 100%;
  width: 75%;
  padding: 20px;
  background-color: #eeeeee;
  border-radius: 10px; }

.tarifas__titulo h1 {
  text-align: center;
  font-size: 60px;
  margin: 25px;
  padding: 25px;
  font-weight: 800; }

.tarifas__planes__fitness,
.tarifas__planes__performance,
.tarifas__planes__pro {
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 5px 5px 10px darkcyan;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%; }

.tarifas__planes__fitness__segunHorario {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.tarifas__planes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-bottom: 20px; }

.tarifas__planes li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }

.tarifas__planes__fitness__titulo,
.tarifas__planes__performance__titulo,
.tarifas__planes__pro__titulo {
  font-size: 40px;
  display: flex;
  justify-content: start;
  margin-bottom: 10px; }

.tarifas__planes__fitness__incluye,
.tarifas__planes__performance__incluye,
.tarifas__planes__pro__incluye {
  font-size: 1.6rem;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; }

.tarifas__planes__fitness__incluye__lista,
.tarifas__planes__performance__incluye__lista,
.tarifas__planes__pro__incluye__lista,
.tarifas__planes__fitness__segunHorario__tarde,
.tarifas__planes__fitness__segunHorario__mañana {
  font-size: 1.4rem; }

.tarifas__planes__fitness__precios,
.tarifas__planes__performance__precios,
.tarifas__planes__pro__precios {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 50px;
  color: #2c3e50;
  margin-top: auto; }

.precio70,
.precio85,
.precio100,
.precio140 {
  background-color: darkcyan;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  flex: 1; }

.precio70,
.precio85 {
  margin-top: 20px; }

.tarifas__matricula {
  background-color: white;
  box-shadow: 5px 5px 10px darkcyan;
  text-align: center; }

.tarifas__matricula__titulo {
  font-size: 45px;
  margin: 30px;
  padding: 30px; }

.tarifas__matricula__precio {
  font-size: 70px;
  margin: 25px;
  color: darkcyan; }

.tarifas__matricula__pagoUnico {
  text-align: end;
  font-size: 20px; }

.servicios__adicionales {
  background-color: white;
  box-shadow: 5px 5px 10px darkcyan;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px; }

.servicios-adicionales__titulo {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center; }

.servicios-adicionales__lista {
  list-style: none;
  padding: 0; }

.servicio {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd; }

.servicio:last-child {
  border-bottom: none; }

.servicio__nombre {
  font-size: 25px;
  flex: 1;
  font-weight: bold; }

.servicio__precio {
  font-size: 25px;
  color: #2c3e50;
  text-align: right;
  list-style: none; }

@media (max-width: 480px) {
  .main {
    width: 90%;
    padding: 10px; }
  .tarifas__titulo h1 {
    font-size: 40px;
    margin: 15px;
    padding: 15px; }
  .tarifas__planes {
    grid-template-columns: 1fr;
    gap: 15px; } }

@media (max-width: 768px) {
  .main {
    width: 90%;
    padding: 15px; }
  .tarifas__titulo h1 {
    font-size: 45px;
    margin: 20px;
    padding: 20px; }
  .tarifas__planes {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; }
  .tarifas__planes__fitness__segunHorario {
    grid-template-columns: 1fr; }
  .tarifas__planes__fitness__titulo,
  .tarifas__planes__performance__titulo,
  .tarifas__planes__pro__titulo {
    font-size: 30px; }
  .tarifas__planes__fitness__incluye,
  .tarifas__planes__performance__incluye,
  .tarifas__planes__pro__incluye {
    font-size: 1.4rem; }
  .tarifas__planes__fitness__incluye__lista,
  .tarifas__planes__performance__incluye__lista,
  .tarifas__planes__pro__incluye__lista,
  .tarifas__planes__fitness__segunHorario__tarde,
  .tarifas__planes__fitness__segunHorario__mañana {
    font-size: 1.2rem; }
  .tarifas__planes__fitness__precios,
  .tarifas__planes__performance__precios,
  .tarifas__planes__pro__precios {
    font-size: 40px; }
  .tarifas__matricula__titulo {
    font-size: 35px;
    margin: 20px;
    padding: 20px; }
  .tarifas__matricula__precio {
    font-size: 50px;
    margin: 20px; }
  .tarifas__matricula__pagoUnico {
    font-size: 18px; }
  .servicios__adicionales {
    padding: 15px; }
  .servicios-adicionales__titulo {
    font-size: 20px;
    margin-bottom: 10px; }
  .servicio {
    padding: 8px 0; }
  .servicio__nombre,
  .servicio__precio {
    font-size: 20px; } }

body {
  background-color: #eeeeee; }

.nuestras__instalaciones {
  display: flex;
  justify-content: center;
  font-size: 65px;
  color: #2c3e50;
  margin: 30px 0; }

.nuestras__instalaciones__h3 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #2c3e50;
  margin: 30px 0; }

.video__instalaciones {
  display: flex;
  justify-content: center;
  margin: 20px 0; }

.video__instalaciones iframe {
  width: 75%;
  min-height: 450px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px darkcyan; }

.galeria__titulo {
  text-align: center;
  font-size: 65px;
  font-weight: bolder;
  margin-bottom: 90px;
  color: #2c3e50; }

.galeria__fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px; }

.fotos__istalaciones {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s;
  box-shadow: 0px 4px 8px darkcyan; }

.fotos__istalaciones:hover {
  transform: scale(1.2); }

.instalaciones {
  background-color: #eeeeee;
  padding: 40px 20px; }

.instalacionesExplicacion {
  max-width: 85%;
  margin: 0 auto;
  padding: 20px; }

.instalacionesTitulo {
  text-align: center;
  font-size: 65px;
  margin-bottom: 20px; }

.instalacionesTexto {
  text-align: center;
  font-size: 35px;
  margin-bottom: 80px;
  margin-top: 80px; }

.listaIntsalaciones {
  list-style: none;
  padding: 0;
  margin: 0; }

.listaIntsalaciones strong {
  font-size: 40px;
  display: inline-block;
  margin: 15px; }

.listaIntsalaciones li {
  background-color: #eeeeee;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 25px;
  font-size: 25px;
  box-shadow: 0 2px 5px darkcyan; }

@media (max-width: 480px) {
  .nuestras__instalaciones,
  .nuestras__instalaciones__h3,
  .galeria__titulo,
  .instalacionesTitulo,
  .instalacionesTexto {
    font-size: 30px; }
  .galeria__fotos {
    grid-template-columns: 1fr;
    gap: 8px; }
  .fotos__istalaciones {
    height: 250px; }
  .video__instalaciones iframe {
    width: 100%;
    min-height: 250px; }
  .instalacionesExplicacion {
    max-width: 100%;
    padding: 10px; }
  .listaIntsalaciones strong {
    font-size: 25px; }
  .listaIntsalaciones li {
    font-size: 18px; } }

@media (max-width: 768px) {
  .nuestras__instalaciones,
  .nuestras__instalaciones__h3,
  .galeria__titulo,
  .instalacionesTitulo,
  .instalacionesTexto {
    font-size: 45px; }
  .galeria__fotos {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; }
  .fotos__istalaciones {
    height: 350px; }
  .video__instalaciones iframe {
    width: 90%;
    min-height: 350px; }
  .instalacionesExplicacion {
    max-width: 100%; }
  .listaIntsalaciones strong {
    font-size: 30px; }
  .listaIntsalaciones li {
    font-size: 20px; } }

body {
  background-color: #eeeeee; }

.container {
  max-width: 1200px; }

.contact-form,
.contact-info {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px darkcyan;
  padding: 20px;
  margin: 0px; }

h2 {
  margin-bottom: 20px;
  color: #2c3e50; }

.map-container {
  margin-top: 20px;
  height: 65%;
  text-align: center; }

#mapa {
  height: 100%; }

.btn {
  background-color: darkcyan;
  font-size: 20px; }

.btn:hover {
  background-color: darkcyan; }

.clasesDirigidas {
  padding: 20px; }

.clase {
  display: flex;
  align-items: center;
  margin-bottom: 30px; }

.texto {
  flex: 1;
  margin-right: 20px;
  text-align: left; }

.imagen {
  flex: 1;
  text-align: center; }

.imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 10px darkcyan; }

.invertida {
  flex-direction: row-reverse; }

.tituloClasesDirigidas {
  font-size: 50px;
  margin: 50px;
  text-align: center;
  font-weight: bold; }

p {
  margin-left: 20px;
  font-size: 25px; }

.tituloClaseDirigidasH2 {
  margin-left: 20px;
  font-weight: bold;
  font-weight: bold;
  font-size: 40px; }

@media (max-width: 480px) {
  .tituloClasesDirigidas {
    font-size: 30px;
    margin: 30px; }
  .clase {
    flex-direction: column;
    margin-bottom: 20px; }
  .texto {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center; }
  .imagen {
    margin-bottom: 20px; }
  p {
    font-size: 18px;
    margin-left: 0; }
  .tituloClaseDirigidasH2 {
    font-size: 30px;
    margin-left: 0; } }

@media (max-width: 768px) {
  .tituloClasesDirigidas {
    font-size: 40px;
    margin: 40px; }
  .clase {
    flex-direction: column;
    margin-bottom: 25px; }
  .texto {
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center; }
  .imagen {
    margin-bottom: 20px; }
  p {
    font-size: 20px;
    margin-left: 0; }
  .tituloClaseDirigidasH2 {
    font-size: 35px;
    margin-left: 0; } }
