* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color:rgb(238, 238, 238);
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 80px;
    background-color: rgb(0, 139, 139);
    align-items: center;
    padding: 15px;
    top: 0px;
    left: 0px;
    width: 100%;
}

main {
    margin: 0px auto 80px;
    
}

.lista .listaA {
    display: flex column;
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0 15px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logoimg {
    height: 80px;
    margin-right: 15px;
    cursor: pointer;
}

nav a {
    font-weight: 600;
    padding-right: 15px;
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    color: rgb(44, 62, 80);
    transform: scale(1.2);
}

.logo-nombre {
    color: #f2f2f2;
    font-size: 60px;
    margin-left: 20px;
}

.logo-nombre:hover {
    color: rgb(44, 62, 80);
    cursor: pointer;
    transform:scaleX(1.1);
}

.logoimg:hover {
    transform: scale(1.15);
}
.nuestras__instalaciones{
    display: inline-block;
    text-align: center;
    white-space: normal;
    
}
.nuestras__instalaciones span {
    display: block;
    ;
}

.imagenContenedor {
    position: relative;
    width: 90%;
    height: 50vh;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
    
}

.imagenInicio {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    
}

.textoEstasListo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%; 
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 20px;
    border-radius: 10px;
}

.textoEstasListo h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.textoEstasListo p {
    font-size: 25px;
    margin-bottom: 20px;
}

.btn {
    background-color: rgb(0, 139, 139);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(0, 139, 139);
    transform: scale(1.05);
    color: rgb(44, 62, 80);
}


.clases__personalizadas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.clases__personalizadas__imagen .img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.clases__personalizadas__texto {
    max-width: 50%; 
    padding-left: 180px; 
    
}

.clases__personalizadas__texto__titulo {
    font-size: 80px; 
    margin-bottom: 50px; 
}
.clases__personalizadas__texto__btn{
    display: inline-block;
  padding: 10px 20px;
  background-color: rgb(0, 139, 139);
  color: white;
  text-decoration: none; 
  border-radius: 9px; 
  font-size: 45px;
  cursor: pointer;
  text-align: center;
}







@media (min-width: 1024px) {
    .imagenContenedor {
        width: 80%;
        height: 60vh;
    }

    .clases__personalizadas__texto__titulo {
        font-size: 70px;
    }

    .clases__personalizadas__texto__btn {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo-nombre {
        font-size: 40px; 
    }

    .lista .listaA {
        display: block;
        text-align: center;
    }

    .clases__personalizadas {
        flex-direction: column;
        padding: 20px;
    }

    .clases__personalizadas__texto {
        padding: 0;
        text-align: center;
    }

    .clases__personalizadas__texto__titulo {
        font-size: 40px; /
    }

    .imagenContenedor {
        width: 100%; 
        height: auto; 
    }
}

