footer {
  background-color: $colorNavFooter;
  width: 100%;
  min-height: 80px;
  padding: 15px 0;
  margin-top: auto;
}

.redesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}


.redesSociales a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
  font-size: 18px;
  color: $colorNavFooter;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.redesSociales a:hover {
  transform: scale(1.15);
}
.copyright {
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.copyright h6 {
  margin: 1rem;
  font-size: 14px;
  color: $colorBody;
}



@media (max-width: $breakpoint-mobile) {
  .redesSociales a {
    font-size: 14px;
    width: 32px;
    height: 32px;
  }

  .copyright h6 {
    font-size: 11px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .redesSociales a {
    font-size: 20px;
    width: 45px;
    height: 45px;
  }

  .copyright h6 {
    font-size: 14px;
  }
}