footer {
  background-image: linear-gradient(to top, $colorNavFooter 65%, $colorBody);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  padding: 10px 0;
}

.redesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.redesSociales a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 0 10px;
  border-radius: 50%;
  font-size: 20px;
  color: $colorNavFooter;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.redesSociales a:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: rgb(238, 238, 238);
}
.copyright :hover {
  transform: scaleX(1.2);
}
.copyright h6 {
  margin: 0;
}
.copyright h6:hover {
  transform: scale(1.1);
  transition: 0.3s;
}



@media only screen and (max-width: 480px) {
  .redesSociales a {
    font-size: 16px;
    width: 35px;
    height: 35px;
    margin: 0 5px;
  }

  .copyright h6{
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .redesSociales a {
    font-size: 24px;
    width: 50px;
    height: 50px;
  }

  .copyright h6{
    font-size: 16px;
  }
}