*{
    font-family: "Josefin Sans", sans-serif;
     
}

body {
    min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $colorBody;
  color: $colorFondoLetras;
    
}
main {
   flex: 1; 
  padding-bottom: 20px;
    
}



