body {
  background-color: $colorBody;
}

.contact-form,
.contact-info {
  background-color: white;
  border-radius: 10px;
  box-shadow: $boxSahdowImagenes;
  padding: 0px;
  margin: 0px;
}

h2 {
  margin-bottom: 20px;
  color: $colorFondoLetras;
}
#contDejanosTusDatos,
#contVisitanos {
  padding: 15px;
}
#contDejanosTusDatos {
  margin-right: 30px;
}
.map-container {
  width: 100%;
  height: 80%;
  text-align: center;
}
#mapa {
  height: 100%;
}
.btn {
  background-color: $colorNavFooter;
  font-size: 20px;
}

.btn:hover {
  background-color: $colorNavFooter;
}

@media (max-width: 768px) {
  .map-container {
    height: auto;
  }

  #mapa {
    height: 250px;
  }
  .container {
    max-width: 90%;
  }
  #contDejanosTusDatos,
  #contVisitanos {
    margin-bottom: 15px;
    padding: 10px;
    margin-right: 0;
  }
}
